.search-container {
    position: relative !important;
}

.search-input {
    outline: none !important;
    padding: 8px 32px 8px 8px !important;
    border: 0.5px solid #ccc !important;
    border-radius: 6px !important;
    box-sizing: border-box !important;
    height: 32px !important;
    width: 300px !important;
    font-family: 'Poppins'!important;
    background-color: transparent!important;
}

.c-clear-buckets {
    white-space: nowrap;
}

.search-icon {
    position: absolute !important;
    right: 10px !important;
    top: 15px !important;
    transform: translateY(-50%) !important;
    cursor: pointer !important;
}

.cancel-icon {
    position: absolute !important;
    right: 3% !important;
    top: 17px !important;
    transform: translateY(-50%) !important;
    cursor: pointer !important;
    width: 10px !important;
}

.title-heading{
    text-transform: uppercase!important;
    letter-spacing: -0.02rem!important;
}

.f-poppins{
    font-family: 'Poppins'!important;
}