<div class="container">
    <div class="sample">
        <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <input class="input-field input-item " type="email" formControlName="email" id="email"
                    placeholder="Enter email">
                <div *ngIf="resetPasswordForm.get('email')?.invalid && (resetPasswordForm.get('email')?.dirty || resetPasswordForm.get('email')?.touched)"
                    class="text-danger f-s-11">
                    <div *ngIf="resetPasswordForm.get('email')?.errors?.['required']">Email is required</div>
                    <div *ngIf="resetPasswordForm.get('email')?.errors?.['email']">Enter valid email</div>
                </div>
            </div>
            <div *ngIf="showOtpFields">
                <div class="form-group">
                    <input class="input-field " type="text" formControlName="otp" id="otp" placeholder="Enter OTP">
                    <div *ngIf="resetPasswordForm.get('otp')?.invalid && (resetPasswordForm.get('otp')?.dirty || resetPasswordForm.get('otp')?.touched)"
                        class="text-danger f-s-11">
                        <div *ngIf="resetPasswordForm.get('otp')?.errors?.['required']">OTP is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <input class="input-field " type="password" formControlName="newPassword" id="newPassword"
                        (input)="trimWhitespace('newPassword')" placeholder="Enter new password">
                    <div *ngIf="resetPasswordForm.get('newPassword')?.invalid && (resetPasswordForm.get('newPassword')?.dirty || resetPasswordForm.get('newPassword')?.touched)"
                        class="text-danger f-s-11">
                        <div *ngIf="resetPasswordForm.get('newPassword')?.errors?.['required']">Newpassword is required
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input class="input-field" type="password" formControlName="confirmPassword" id="confirmPassword"
                        placeholder="Confirm password" (input)="checkPasswordsMatch()" ngModelTrim="true"
                        (ngModelChange)="resetPasswordForm.get('confirmPassword')?.setValue($event.trim())">
                    <div *ngIf="resetPasswordForm.get('confirmPassword')?.invalid && (resetPasswordForm.get('confirmPassword')?.dirty || resetPasswordForm.get('confirmPassword')?.touched)"
                        class="text-danger f-s-11">
                        <div *ngIf="resetPasswordForm.get('confirmPassword')?.errors?.['required']">Confirm password is
                            required</div>
                        <div *ngIf="resetPasswordForm.get('confirmPassword')?.hasError('passwordsDoNotMatch')"
                            class="text-danger f-s-11">
                            Passwords do not match
                        </div>
                    </div>
                </div>

            </div>
            <button type="button" (click)="toggleOtpFields()" class="btn btn-primary"
                [disabled]="resetPasswordForm.get('email')?.invalid || passwordsDoNotMatch">
                {{ showOtpFields ? 'Change Password' : 'Request OTP' }}
            </button>
        </form>
    </div>
</div>