.container{
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh;
    background-color: white;
}

.sample {
    width: 30%;
    height: 60%;
    background-color: #007791;
    padding: 20px;
}


.input-field {
    width: 92%;
    padding: 3px; 
    margin-bottom: 2px; 
    height: 20px;
    margin-top: 10px;
    height: 30px !important;
    border-radius: 4px !important;
     
}
.input-item{
    margin-top: 80px;
}

button{
    width: 41%;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-left: 93px;
    margin-top:24px;
}
.text-danger{
color: red;
}