<div class="view">
    <div class="p-20">
        <div class="header">
            <div class="f-w-600 f-s-16 primary-color">GTINS</div>
            <div class="buttons m-t-2">
                <button class="submit-btn f-s-14 p-t-4 p-l-16 p-r-16 p-b-4">Select Form</button>
                <button class="docker-btn f-s-14 p-t-4 p-l-16 p-r-16 p-b-4">Docker</button>
            </div>
        </div>

        <div class="gtin-container m-t-20 align-center">
            <div *ngFor="let gtin of gtins" class="gtin-item"> 
                <div class="c-box d-flex align-center">
                    <label>
                        <input type="checkbox" class="c-box"
                            [checked]="gtin.checked">
                        <span class="checkbox-custom c-pointer"></span>
                    </label>
                </div>
                <div class="m-t-2"><img src="assets/icons/barcode.svg" class="m-r-5 c-pointer" alt=""></div>
                <div class="m-t-6">{{ gtin.gtin }}</div>
            </div>
        </div>
    </div>
</div>
