.view{
    background-color: white;
    min-height: 100%!important;
    height: 100%;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom:4%
}

.buttons {
    display: flex;
    gap: 12px;
    margin-right: 4%;
}

.submit-btn {
    background-color: #F26334;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.docker-btn {
    color: #F26334;
    background-color: white;
    border-radius: 4px;
    border: 1px solid #F26334;
    cursor: pointer;
}

.gtin-item {
    padding: 8px 16px;
    display: flex;
    width: 150px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 4px 19px 0px #00000014;

}

.gtin-container {
    display: flex;
    flex-wrap: wrap;
    gap: 12px; 
}

.c-box {
    position: relative;
    max-height: 20px;
}

input[type="checkbox"].c-box {
    display: none;
}

input[type="checkbox"].c-box {
    display: none;
}

.checkbox-custom {
    display: inline-block;
    width: 18px;
    margin-top: 15px;
    height: 18px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-right: 5px;
    position: relative;
}

input[type="checkbox"].c-box:checked+.checkbox-custom {
    background-color: #F26334;;
}

input[type="checkbox"].c-box:checked+.checkbox-custom::after {
    content: "";
    position: absolute;
    left: 6px;
    width: 5px;
    height: 10px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
