.mat-calendar-table {
    th {
        font-weight: 600 !important;
        font-size: 16px !important;
        height: 0px !important;
        padding: 7px !important;
        background-color: transparent !important;
    }

    tbody {
        font-size: 14px !important;
        background-color: var(--tbody-bg-color) !important;
    }

    td {
        height: 20px !important;
        padding: 7px !important;
    }

    tr:hover {
        background-color: var(--tr-hover-color) !important;
    }

    tbody tr:nth-child(even) {
        background-color: var(--tr-hover-color) !important;
    }

    .date-picker-container {
        padding-left: 5px;
        padding-right: 5px
    }
}

.mat-calendar-body-selected {
    background-color: var(--primary-color) !important;
}

.mat-calendar-body-cell:not(.mat-calendar-body-disabled):hover>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {

    background-color: #B0D8D8 !important;
}

.mat-calendar-body-today:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
    background-color: var(--primary-color) !important;
    color: white !important;
}

.mat-calendar-body-cell.mat-calendar-body-selected .mat-calendar-body-cell-content {
    background-color: #B0D8D8 !important;
}

.mat-mdc-form-field-type-mat-date-range-input .mat-mdc-form-field-infix {
    width: 140px !important;
    height: 20px;
    padding-top: 0;
}

.mdc-text-field--outlined .mat-mdc-form-field-infix,
.mdc-text-field--no-label .mat-mdc-form-field-infix {
    padding-top: 10 !important;
    margin-top: 0 !important;
    padding-bottom: 0 !important;
    margin-top: 0 !important;
}

.mat-mdc-text-field-wrapper.mdc-text-field.mdc-text-field--filled.mdc-text-field--no-label {
    background-color: white !important;
    height: 45px !important;
    margin-top: 0 !important;
    margin-top: -10px !important;
}

.date-picker-container {
    background-color: whitesmoke !important;
    border-radius: 10px;
    margin-top: 0 !important;
    margin-top: 0 !important;
}

.mat-mdc-text-field-wrapper.mdc-text-field.mdc-text-field--filled.mdc-text-field--no-label {
    background-color: transparent !important;
}

.mat-datepicker-toggle {
    background-color: transparent !important;
}

.mat-menu-item.mat-menu-item-submenu-trigger:hover,
.mat-menu-item.mat-menu-item-submenu-trigger:focus,
.mat-menu-item.mat-menu-item-submenu-trigger:active {
    background-color: transparent !important;
}

.mat-menu-item.mat-menu-item-disabled {
    background-color: transparent !important;
}

.mat-mdc-form-field-focus-overlay {
    background-color: transparent !important;
}

:host ::ng-deep .mat-form-field.mat-form-field-type-mat-input .mat-form-field-wrapper {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    height: 25px !important;
}

.mat-mdc-form-field-subscript-wrapper.mat-mdc-form-field-bottom-align {
    padding: 0 !important;
    margin: 0 !important;
    display: none !important;
}

.mat-form-field-wrapper .mat-mdc-form-field-subscript-wrapper,
.mat-form-field-wrapper .mat-mdc-form-field-bottom-align {
    padding: 0 !important;
    margin: 0 !important;
    display: none !important;
}

.mdc-line-ripple::before, .mdc-line-ripple::after{
    border-bottom-style: none!important
}