
<div class="p-relative field-ctn"  *ngIf="!config?.hide" [ngClass]="{'left':config?.labelPosition == 'left','top':config?.labelPosition == 'top'}" [ngStyle]="{'margin-top':(editMode ? '5px' : ''),'margin-bottom':editMode ? '5px' : '','padding-top':(editMode ? '15px' : ''),'padding-bottom':(editMode ? '15px' : '')}">
    <div class="edit-controls" *ngIf="editMode">
        <div class="f-w-400 f-s-12 p-6 d-flex align-center icon-ctn" (click)="editElement()">
            <i class="fa fa-edit c-text"></i>
        </div>
        <div class="f-w-400 f-s-13 p-5 p-b-4 p-r-3 d-flex align-center icon-ctn bg-red" (click)="deleteElement()">
            <i class="fa fa-close"></i>
        </div>
    </div> 
        <label for="" *ngIf="!config?.hideLabel"  [ngStyle]="{'width':config?.labelWidth}">{{config?.label}}</label>
        <div class="dropdown-container" (click)="toggleMenu()">
            <div class="selected-item f-s-13 dropdown-trigger"
                [ngClass]="{ 'placeholder-style': !config!.value,'disabled':config?.disabled,'required':config?.required }" >
                 {{config!.value ? config!.value : '' }}
                <mat-icon class="icon-dropdown m-icon">
                    {{ isDropdwnMenuOpen ? 'expand_less' : 'expand_more' }}
                </mat-icon>
            </div>
            <div class="custom-menu" [ngClass]="{ show: isDropdwnMenuOpen }">
                <div class="menu-item" *ngFor="let option of config?.values" (click)="updateValueField((config!.itemTemplate ?  getLabelbyPathName(option,config!.itemTemplate) : option?.name)) " >
                    {{ config!.itemTemplate ?  getLabelbyPathName(option,config!.itemTemplate) : option?.name }}
                </div>
            </div>
        </div>    
</div>
