<div class="view">
    <div class="p-20">
        <div class="header">
            <div class="f-w-600 f-s-15 primary-color">GTINS</div>
            <div class="buttons m-t-2">
                <button class="submit-btn f-s-14 p-t-8 p-l-16 p-r-16 p-b-8">Submit</button>
                <button class="docker-btn f-s-14 p-t-8 p-l-16 p-r-16 p-b-8">Docker</button>
            </div>
        </div>

            <div class="gtin-container m-t-20">
                <div *ngFor="let gtin of gtins" class="gtin-item"> 
                    <div><img src="assets/icons/barcode.svg" class=" m-r-5 c-pointer" alt=""></div>
                    <div class="m-t-4"> {{ gtin.gtin }}</div>
                   
                </div>
            </div>
        
    </div>
</div>