<div class="header-area">
    <app-header></app-header>
  </div>
  <!-- <div class="row header-Section p-b-0 j-space p-r-25 p-l-25 p-t-0">
    <div class="d-flex align-center w-100">
        <div class="row d-flex icon-text-box c-pointer" >
            <img class="h-panel-home-icon m-r-5 m-t-0" src="assets/icons/clarity_home-line (1).svg">
            <label class="h-panel-i-label m-b-0 c-pointer">Home</label>
            <mat-icon class="d-flex right-icon">chevron_right</mat-icon>
        </div>
        <div class="row d-flex  icon-text-box">
            <p class="h-panel-i-label m-b-0 c-pointer f-w-600 t-transform-uppercase ">NOTIFICATIONS</p>
        </div>
    </div>
  </div>
  <hr class="horizontal-bar m-t-0 m-b-0 m-l-20 m-r-20"> -->
  
  <div class="container   bg-white scroll-containers">
   <app-notification-messages></app-notification-messages>
  </div>