
<div *ngIf="showLoader"  class="loader-parent">
    <img src="assets/gif/loader.gif">
</div>
    <div class="row p-t-0 d-flex p-r-5 h-max">
        <div class="form-controls">
            <app-form-controls (addControlEvent)="addElement($event)"></app-form-controls>
        </div>
        <div class="vertical-seperator"></div>
        <div class="form-area">
            <div class="form-container p-15 ">
                <ng-container *ngFor="let component of components">
                    <ng-container [ngSwitch]="component?.type">
                        <app-label *ngSwitchCase="'label'" [config]="component" (deleteEvent)="deleteElement($event)" (editEvent)="editElement($event)" [editMode]="true"></app-label>
                        <app-text-field *ngSwitchCase="'textfield'" [config]="component" (deleteEvent)="deleteElement($event)" (editEvent)="editElement($event)" [editMode]="true"></app-text-field>
                        <app-text-area *ngSwitchCase="'textarea'" [config]="component" (deleteEvent)="deleteElement($event)" (editEvent)="editElement($event)" [editMode]="true" [editMode]="true"></app-text-area>
                        <app-columns *ngSwitchCase="'columns'"  [config]="component" (removeElementfromColumnEvent)="removeElementfromColumn($event)" (deleteEvent)="deleteElement($event)" (addElementToColumnEvent)="addElementToColumn($event)" (editElementEvent)="editElement($event)" [editMode]="true"></app-columns>
                        <app-number *ngSwitchCase="'number'" [config]="component" (deleteEvent)="deleteElement($event)" (editEvent)="editElement($event)" [editMode]="true"></app-number>
                        <app-checkbox *ngSwitchCase="'checkbox'" [config]="component" (deleteEvent)="deleteElement($event)" (editEvent)="editElement($event)"  [editMode]="true" ></app-checkbox>
                        <app-selectbox *ngSwitchCase="'selectbox'" [config]="component" (deleteEvent)="deleteElement($event)" (editEvent)="editElement($event)"  [editMode]="true"></app-selectbox>
                        <app-radio *ngSwitchCase="'radio'" [config]="component" (deleteEvent)="deleteElement($event)" (editEvent)="editElement($event)"  [editMode]="true"></app-radio>
                    </ng-container>
                  
                </ng-container>
                <div class="empty-space"></div>
               
            </div>
        </div>
    </div>
