<div class="view">
    <div class="p-20">
        <div class="d-flex j-space">
            <small>Record #3115</small>
            <small><span class="c-grey">Valid:</span> 21 May 2024 - 31 Dec 2024</small>
        </div>
        <div class="m-t-10 d-flex">
            <img class="m-r-5" src="assets/icons/GTIN.svg" width="40px" height="40px" alt="">
            <div class="d-flex flex-col f-w-500">
                <small>Pepsico</small>
                <div class="f-w-600">Form A 3034</div>
            </div>
        </div>
    </div>
</div>