<div class="view">
    <div class="p-20">
        <div class="d-flex j-space">
            <small><span class="p-relative"><img src="assets/icons/circle-outer.png" width="10px" height="10px" alt=""><img class="circle-inner" src="assets/icons/circle-inner.png" width="5px" height="5px" alt=""></span> Record #3115</small>
            <small><span class="c-grey">Valid:</span> 21 May 2024 - 31 Dec 2024</small>
        </div>
        <div class="m-t-10 d-flex">
            <img class="m-r-5" src="assets/icons/GTIN.svg" width="40px" height="40px" alt="">
            <div class="d-flex flex-col f-w-500">
                <small>Pepsico</small>
                <div class="f-w-600">Form A 3034</div>
            </div>
        </div>
        <div class="f-w-500 m-b-10 m-t-10">Products</div>
        <div class="grid-3">
            <div>01</div>
            <div>
                <div class="d-flex align-center">
                    <img src="assets/icons/barcode.svg"  width="20px" height="19px" alt=""> <span class="m-l-5">28986426262462</span>
                </div>
            </div>
            <div>Product A</div>
            <div>02</div>
            <div>
                <div class="d-flex align-center">
                    <img src="assets/icons/barcode.svg"  width="20px" height="19px" alt=""> <span class="m-l-5">289836426262462</span>
                </div>
            </div>
            <div>Product B</div>
        </div>


    </div>
</div>