<div *ngIf="showForm" class="container-main">
    <div class="sample">
        <div *ngIf="showLoader"  class="loader-parent">
            <img src="assets/gif/loader.gif">
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="signin-main">
                <i class="fa-regular fa-user signin-icon"></i>
                <h3 class="m-l-5 m-t-18">Signin</h3>
            </div>
            <!-- <div  class="text-danger f-s-11">Invalid username or password</div> -->
            <div class="input-container">
                <input class="input-field input-item" type="text" id="username" name="username" placeholder="UserName"
                    formControlName="userName" >
                <div *ngIf="submitted && loginForm.get('userName')?.hasError('required')" class="text-danger f-s-11">
                    Please enter username</div>
            </div>
            <div class="input-container m-t-8">
                <input class="input-field input-item" type="password" id="username" name="username" placeholder="Password"
                    formControlName="password" >
                <div *ngIf="submitted && loginForm.get('password')?.hasError('required')" class="text-danger f-s-11">
                    Please enter password</div>
            </div>
            <div class="m-t-9 check-box-main">
                <label class="container">Remember Me
                    <input type="checkbox" >
                    <span class="checkmark"></span>
                  </label> 

            </div>
            <div class="main d-flex">
                <button class="button" type="submit">Login</button>
            </div>
        </form>
    </div>

</div>